.navbar-pink{
	background: #FFFFFF;
}

.divutama{
color: #ad1457;
}

.divkedua{
color: #880e4f;
}

div#iddiv.divutama.divkedua h2{
	color: red
}

h2{
color: #ff8a80;
}
p{
color: ##8e24aa;
}
.box .row .col-md-3{
text-align: center;
}
.box .row .col-md-3 i{
font-size: 30px;
color: #6495ED;
border: 1px solid #6495ED;
border-radius: 50em;
padding: 10px
}
.box .row .col-md-3{
	font-size: 18px;
	color:#565656
}
.btn-primary{
	background: #5CB8E7;
	border-radius: 0;
	border: none;
}
.btn-primary:hover{
background: #505050;
}
.carousel{
margin-bottom: 20px;
}
.footer{
	height: 200px;
	background: #3A3A3A;
	color: #FFFFFF;
}
.footer .col-md-6{
	padding: 10px;
}
.copyright{
	height: 30px 0;
	background: #000000;
	color: #FFFFFF;
	text-align: center
}
.kotak{
	background:#f48fb1;
}
.kotak-form{
	margin-top: 20px;
	margin-bottom: 20px;
	background: #f06292;
	padding: 10px;

}
.btn-warning{
	background: #e91e63;
	border: none;
	border-radius: 10px;
}